body {
    background-color: #111111;
    color: white;
    font-family: Georgia;
}

h1 {
    font-family: Helvetica;
}

a {
    color: red;
}

.card {
    background-color: #222222;
}

.dropdown .VirtualizedSelectOption {
    background-color: #111111;
    color: white;
}

.dropdown .VirtualizedSelectFocusedOption {
    background-color: #444444;
    color: white;
}

.dropdown .VirtualizedSelectSelectedOption {
    background-color: #444444;
    color: white;
}

.dropdown .Select--single .Select-value-label {
  color: white !important;
}

.dropdown .Select--multi .Select-value {
  background-color: #2e5882;
  border-color: #9ab8d6;
  color: white;
}

.dropdown .Select--multi .Select-value-label {
  color: white;
}